.logo {
    font-size:75px;
}
body {
    background-color: rgb(192, 207, 136);
    border-style:inset;
    display: flex;
    flex-direction:column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
color:rgb(114, 16, 16);
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}